@offwhite: #ecf0f1;
@grey: #95a5a6;
@silver: #bdc3c7;
@grey_blue: #34495e;
@midnight_blue: #2c3e50;
@cobalt: #2980b9;
@sky: #3498db;
@slate: #464646;
@line_height: 1.2em;

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  //font-family: 'Buenard', 'Georgia', serif;  
  //font-family: 'Raleway', 'Futura', 'Helvetica', 'Arial', sans-serif;
  font-family: 'Buenard', 'Georgia', serif;  
  margin: 0px;
  //background-image: url("../img/noisy_grid.png");
  background-image: url("../img/textured_paper.png");
  background-color: rgba(52, 73, 94, 0.2);
  //background-color: @grey_blue;
  h2, h3 {
    font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  }
}

body:after {
  opacity: 0.1; 
}

@button_side: 32px;
#buttons {
  width: 250px;
  margin: 0 auto;
  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      display: inline-block;
      position: relative;
    }
  }

  .button {
    width: @button_side; 
    height: @button_side;
  }
  #github_button {
    background-image: url("../img/github_button.png");
  }
}

@nav_width: 800px;
#navbar {width: 100%; height: 40px;
  //background-color: rgba(0, 0, 0, .9);
  background-color: @cobalt;
  position: relative;
  top: 0px;

  #nav_content {
    width: @nav_width; 
    height: 100%;
    margin: 0 auto;
  }

  a {
    color: @grey;
    text-decoration: none;
  }

  a:hover {
    color: @offwhite;
  }

  a:visited {
    color: @grey;
  }

  ul {
    list-style-type: none;
    color: @offwhite;
    text-align: justify;
    position: absolute;
    top: 50%;
    margin-top: -@line_height / 2;
    padding-left: 0;

    li {
      width: @nav_width / 4 - 4;
      text-align: center;
      display: inline-block;
      //margin-right: -@line_height + 1;
      position: relative;
      top: @line_height;
    }
  }

  ul:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  ul:before {
    content: '';
    display: block;
    margin-top: -@line_height;
  }
}

.inset_shadow {
  -moz-box-shadow: inset 0 0px 3px -1px @slate; 
  -webkit-box-shadow: inset 0px 0px 3px -1px @slate; 
  box-shadow: inner 0px 0px 3px -1px @slate; 
}

.vertical_shadow_1 {
  -moz-box-shadow: 0px 0px 3px 0px @silver;
  -webkit-box-shadow: 0px 0px 3px 0px @silver; 
  box-shadow: 0px 0px 3px 0px @silver; 
}

.outset_shadow {
  -moz-box-shadow: 0px -1px 2px 0px @silver;
  -webkit-box-shadow: 0px -1px 2px 0px @silver; 
  box-shadow: 0px -1px 2px 0px @silver; 
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

#wrap_outer {
  background-image: url("../img/noisy_grid.png");
  margin: 75px auto 0 auto;
  width: 1000px;
  background-color: #fff;

  #strip {
    margin-top: 0px;
    width: 100%;
    height: 7px;
    background-color: @cobalt;
  }

  a {
    text-decoration: none;
    color: @cobalt;
  }

  a:hover {
    text-decoration: none;
    border-bottom: 1px dashed @sky;
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  #about {
    h2 {
      text-align: center;
      margin-top: 1em;
    }

    #headshot {
      border-radius: 74px 74px;
      width: 150px;
      height: 150px;
      background-image: url("../img/kevin_circle_150.png");
      //margin: -50px auto 0 auto;
      margin: -90px auto 0 auto;
    }

    #bio {
      width: 600px;
      margin: 0 auto;
      padding: 0 10px;
    }
  }

  h2 {
    margin-left: 10px;
  }

  .left {
    width: 500px;
    float: left;
    padding: 0 10px;
  }

  .right {
     
    display: inline-block;
    width: 300px;
    float: right;
    //margin-top: 20px;

    a:hover {
      border-bottom: 0px; 
    }


    @img_side: 300px; 
    #globe {
      width: @img_side; 
      height: @img_side; 
      background-image: url("../img/globe.png");      
      float: right;
    }

    #streamgraph {
      width: @img_side; 
      height: @img_side; 
      background-image: url("../img/streamgraph.png");      
      float: right;
    }
  }

  section {
    width: 100%;
    display: block;
    article {
      padding-bottom: 40px;
      padding: 30px 25px 30px 25px;

      .media {
        margin-top: @line_height;
      }
    }

    .zebra_1 {
      background-color: rgba(0, 0, 0, 0.03);
    }
    img {
      float: right;
    }
  }
}

